*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.100);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    height: 8vh;
    width: 100vw;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;

}

.header ul{
    display: flex;
}
.header ul li{
    list-style: none;
    padding: 15px;
}
.header ul li a {
    text-decoration: none;
    font-size: 16px;
    transition: 0.3 ease-in-out;
    color: #000000;
    font-weight: 400;
}
.header ul li a:hover{
    border-bottom: 2px solid red;
}
.menu {
    display: none;
}
@media (max-width:760px){
    .header ul{
        position: absolute;
        top: 50px;
        right: -100%;
        width: 100%;
        height: calc(100vh - 50px);
        padding: 50px 100px;
        text-align: center;
        overflow: hidden;
        background-color: #111;
        flex-direction: column;
        opacity: 0;
        transition: 800ms ease-in-out;
    }
    .logo{
        color: #fff;
    }
    .header{
        background-color: #111;
    }
    .header.active ul{
        opacity: 1;
        right: 0px;
        top: 50px;
    }
    .header ul li a{
        margin: 5px 0;
        font-size: 24px;
        color: #fff;
    }
    .menu{
        display: block;
        position: relative;
        transition: 800ms step-end;
        cursor: pointer;
    }
    .menu div{
        width: 40px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 4px;
        transition: 600ms;
    }
    .menu.active .line1{
        transform: rotate(-45deg) translate(-4px, 5px);
        transition: 600ms;
    }
    .menu.active .line2{
        opacity: 0;
    }
    .menu.active .line3{
        transform: rotate(45deg) translate(-4px, -6px);
        transition: 600ms;
    }
}